In [2]:
from pymongo import MongoClient
import pymongo
MONGO_HOST = 'localhost'
MONGO_PORT = 27017
MONGO_DB = 'PRO596'
MONGO_COLLECTION = 'user_information_test'

def mongo_connection(host, port, db, collection):
    try:
        conn = MongoClient(host, port)
        return conn[db][collection]
    except:
        raise

def mongo_logging(connection, content):
    try:
        connection.insert_one(content)
    except:
        raise

mongo_conn = mongo_connection(MONGO_HOST,MONGO_PORT,MONGO_DB,MONGO_COLLECTION )

In [3]:
from psycopg2 import connect
import pandas as pd
import numpy as np
import requests
#import psycopg2
import psycopg2 as db

def get_pg_connection(database, user, password, host, port):
    return connect(database=database, user=user, password=password, host=host, port=port, connect_timeout=30)

PROFILE_DB = "dbname='da0' user='dbo' host='10.0.0.220' password='sentifi' port=5432"

def connect_postgres():
    try:
        conn = db.connect(PROFILE_DB)
        print("Initialised Connection")
        return conn
    except:
        print "I am unable to connect to the database"
        
def partition_list(data, chunk_size=200000):
    chunks = [data[x:x + chunk_size] for x in xrange(0, len(data), chunk_size)]
    return chunks

#test
def partition_list(data, chunk_size=1000000):
    chunks = [data[x:x + chunk_size] for x in xrange(0, len(data), chunk_size)]
    return chunks
#chunks = partition_list(screen_name_list, chunk_size=1000000)
#id_list_1 = str(tuple(chunk))

In [4]:
df = pd.DataFrame(list(mongo_conn.find()))

In [5]:
a = df['screen_name'].apply(lambda x: x.replace("'", '"')).apply(lambda x: x.encode('ascii','ignore'))
b = df['user_name'].apply(lambda x: x.replace("'", '"')).apply(lambda x: x.encode('ascii','ignore'))

In [6]:
name_list = str(tuple(partition_list(a, chunk_size=1000000)[0]))
screen_name_list = str(tuple(partition_list(b, chunk_size=1000000)[0]))

In [18]:
import numpy as np
import pandas as pd
import time
from elasticsearch import Elasticsearch

PS_URL = "ps_cur_week"
es_host = 'es-int-client-1.senvpc'
es_port = 9200

def check_exist_by_screen_name(name):
    query ={
          "size": 0,
          "query": {
            "match_phrase_prefix": {
              "channel_meta.screen_name": name
            }
          }
        }


    es = Elasticsearch([{'host': es_host, 'port': es_port}]) 
    results = es.search(index = PS_URL, body=query, request_timeout=1000000)
    return results['hits']['total']

ImportError: No module named elasticsearch

In [ ]:
conn = connect_postgres()
cur = conn.cursor()
cur.execute("set statement_timeout to 2147483647; select pg_sleep(2);")
result_df = pd.DataFrame()
#query = """SELECT user_id FROM user_ml_classified_data WHERE (name IN {0}) or (screen_name IN {1}) LIMIT 100 OFFSET 100""".format(name_list,screen_name_list)
query = """SELECT user_id FROM user_ml_classified_data WHERE (screen_name IN {0}) LIMIT 100 OFFSET 100""".format(screen_name_list)
cur.execute(query)
cur.execute(query)
temp = cur.fetchall()
temp = map(list, temp)
df = pd.DataFrame(temp)
result_df = pd.concat([result_df, df])
conn.close()

Initialised Connection

In [8]:
result_df

             0
0    177800986
1    177804210
2   2469404521
3    177911884
4    177913362
5   1892355008
6    178065600
7   2618392299
8    178227419
9    178265309
10   178291952
11  2312548200
12   178416932
13   178417473
14  2888696451
15   178568248
16   810495031
17   178711312
18   178725675
19   178736879
20  2313047594
21   178919271
22  2938176227
23   179126525
24   898629192
25  2314176403
26  2223722988
27   179874287
28   179908678
29  2314465568
..         ...
70   182691126
71  2317732178
72   182772712
73   182885259
74  2317878206
75   182901346
76   183040797
77   183325188
78   183345495
79   183353979
80   183368224
81   183378808
82   183396655
83   183514797
84   183521380
85   504909352
86   183640570
87   183705154
88   183789030
89   183886836
90  2917366112
91  3064038928
92  2318026657
93  3307839532
94   184522265
95   527699647
96  2476467608
97   184652747
98  2319930794
99   184686719

[100 rows x 1 columns]